.icon {
    font-size: 16px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2em 17.5em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.svg-check:before {
    background-position: 0em 0em;
    width: 1.75em;
    height: 1.75em;
}

.icon.svg-chevron-left:before {
    background-position: 0em -1.75em;
    width: 1.25em;
    height: 1.75em;
}

.icon.svg-chevron-right:before {
    background-position: 0em -3.5em;
    width: 1.25em;
    height: 1.75em;
}

.icon.svg-comment:before {
    background-position: 0em -5.25em;
    width: 1.75em;
    height: 2em;
}

.icon.svg-eye:before {
    background-position: 0em -7.25em;
    width: 2em;
    height: 2em;
}

.icon.svg-facebook:before {
    background-position: 0em -9.25em;
    width: 1em;
    height: 1.75em;
}

.icon.svg-instagram:before {
    background-position: 0em -11em;
    width: 1.75em;
    height: 1.75em;
}

.icon.svg-twitter:before {
    background-position: 0em -12.75em;
    width: 1.625em;
    height: 1.75em;
}

.icon.svg-user-add:before {
    background-position: 0em -14.5em;
    width: 1.25em;
    height: 1.25em;
}

.icon.svg-vk:before {
    background-position: 0em -15.75em;
    width: 1.875em;
    height: 1.75em;
}

